<!doctype html>
<html lang="FR">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="js/main.js"></script>
  <title>Miage calculator</title>
</head>

<body>
  <header>
    <div class="row bg-dark">
      <div class="col-12">
        <h1 class="text-white">{{title}} !</h1>
      </div>
    </div>
  </header>
  <main>
    <div class="container mt-5">
      <div class="row">

        <div class="input-group mb-3 col-12 col-lg-6">
          <div class="input-group-prepend"><span class="input-group-text">Op. 1</span></div>
          <label for="op1"></label><input type="number" class="form-control" id="op1" [(ngModel)]="op1" placeholder="0">
        </div>
        <div class="input-group mb-3 col-12 col-lg-6">
          <div class="input-group-prepend"><span class="input-group-text">Op. 2</span></div>
          <label for="op2"></label><input type="number" class="form-control" id="op2" [(ngModel)]="op2" placeholder="0">
        </div>
        <div class="input-group mb-3 col-12">
          <div class="input-group-prepend"><span class="input-group-text">Résultat</span></div>
          <label for="res"></label><input type="number" class="form-control" id="res" [(ngModel)]="res" disabled>
        </div>
      </div>
      <div class="row d-lg-none  align-items-center">

        <div class="col-8">
          <div class="row">
            <button class="col-4 btn btn-dark" (click)="choix(7)">7</button>
            <button class="col-4 btn btn-dark" (click)="choix(8)">8</button>
            <button class="col-4 btn btn-dark" (click)="choix(9)">9</button>
            <button class="col-4 btn btn-dark" (click)="choix(4)">4</button>
            <button class="col-4 btn btn-dark" (click)="choix(5)">5</button>
            <button class="col-4 btn btn-dark" (click)="choix(6)">6</button>
            <button class="col-4 btn btn-dark" (click)="choix(1)">1</button>
            <button class="col-4 btn btn-dark" (click)="choix(2)">2</button>
            <button class="col-4 btn btn-dark" (click)="choix(3)">3</button>
            <button class="col-8 btn btn-dark" (click)="choix(0)">0</button>
            <button class="col-4 btn btn-dark" (click)="choix('.')">,</button>
          </div>
        </div>
        <div class="col-2">
          <div class=" row btn-group btn-group-toggle">
            <label class="col-12 btn btn-primary">
              <input type="radio" name="options" id="option1" value="1" autocomplete="off" checked="checked"
                (click)="add()"> +
            </label>
            <label class="col-12 btn btn-primary">
              <input type="radio" name="options" id="option2" value="2" autocomplete="off" (click)="soustra()"> -
            </label>
            <label class="col-12 btn btn-primary">
              <input type="radio" name="options" id="option3" value="3" autocomplete="off" (click)="multi()"> *
            </label>
            <label class="col-12 btn btn-primary">
              <input type="radio" name="options" id="option4" value="4" autocomplete="off" (click)="divi()"> /
            </label>
          </div>

          <!--   <div class="row">
             <button class="col-12 btn btn-primary" id="operateurPlus">+</button>
             <button class="col-12 btn btn-primary" id="operateurMoins">-</button>
             <button class="col-12 btn btn-primary" id="operateurFois">*</button>
             <button class="col-12 btn btn-primary" id="operateurDiviser">/</button>
           </div>-->
        </div>
        <div class="col-2">
          <div class="row ">
            <button class="col-12 btn btn-danger p-4" (click)="ac()">AC</button>
            <button class="col-12 btn btn-warning p-4" (click)="add()">=</button>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <div class="row justify-content-around mt-3">

          <button class="col-5 col-lg-2 btn btn-primary" (click)="add()">+</button>
          <button class="col-5 col-lg-2  btn btn-primary" (click)="soustra()">-</button>
          <div class="w-100 mb-2 d-lg-none"></div>
          <button class="col-5 col-lg-2  btn btn-primary" (click)="multi()">*</button>
          <button class="col-5 col-lg-2  btn btn-primary" (click)="divi()">/</button>
        </div>
      </div>
      <div class="row mt-5 justify-content-around">

        <button class="col-12 col-lg-5 btn btn-success mt-1" (click)="sauve()">Mémoriser</button>
        <button class="col-12 col-lg-5 btn btn-success mt-1" (click)="restaure()">Charger la mémoire</button>
        <div class="input-group mt-2 col-12">
          <div class="input-group-prepend"><span class="input-group-text">Mémoire</span></div>
          <input type="number" class="form-control" id="memo" [(ngModel)]="res2" disabled>
        </div>
      </div>
      <div class="row mt-5">

        <div class="col-12 vertical-align">
          <h6>Les {{nboperation}} dernières opérations :</h6>
        </div>
        <div class="col-lg-6 col-12 table-responsive" id="listopcollapse">
          <table class="table table-striped table-borderless table-hover table-sm">
            <thead class="bg-info">
              <tr>
                <th class="th-lg">Opérations</th>
                <th>Op1</th>
                <th>Op</th>
                <th>Op2</th>
                <th></th>
                <th class="th-lg">Res.</th>
                <th class="th-lg">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of listeMemo; let i = index ">
                <th>{{10-i}}</th>
                <td class="text-center">{{premierOp(l)}}</td>
                <td class="text-center">{{l.match("[-+*/]")}}</td>
                <td class="text-center">{{deuxiemeOp(l)}}</td>
                <td class="text-center">=</td>
                <td>{{resultat(l)}}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success" (click)="sauve2(l)"><i
                        class="fa fa-upload"></i></button>
                    <button type="button" class="btn btn-danger" (click)="delete(i)"><i
                        class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p><b>TP</b></p>
      </div>
    </div>
  </footer>
</body>

</html>